{% extends "site_base.html" %}

{% load webdesign %}

{% block head_title %}Sites{% endblock %}
{% block body_id %}sites{% endblock %}

{% block main_content %}

    <h2>Sites Built with Pinax</h2>
    <hr />

    <a href="{% url sites_submit_site %}" class="submit">submit a site</a>

    {% for site in sites %}
        <div class="container">
            <a href="{{ site.url }}" alt="{{ site.name }}" {% if forloop.counter|divisibleby:"3" %}class="last"{% endif %}>{{ site.name }}</a>
        </div>
    {% empty %}
        <p>No sites.</p>
    {% endfor %}
    <div class="clear"></div>

{% endblock %}
