{% extends "site_base.html" %}

{% load downloads_tags %}
{% load biblion_tags %}
{% load biblion_extras_tags %}
{% load example_sites_tags %}
{% load quotes_tags %}

{% block head_title_base %}Pinax{% endblock %}

{% block body_id %}homepage{% endblock %}

{% block header_content %}
<div class="block-left">
    <h1><a href="/"><img src="{{ STATIC_URL }}img/pinax_logo_lg.png" alt="Pinax" /></a></h1>
    <h2>a platform for rapidly developing websites</h2>
</div>
<div class="block-right">
    <div class="intro">
        <p class="main">
            Pinax is an open-source platform built on the
            <a href="http://djangoproject.com">Django Web Framework</a>.
        </p>

        <p class="main">
            By integrating numerous reusable Django apps and providing starter
            projects and infrastructure tools, Pinax takes care of the things
            that many sites have in common so you can focus on what makes your
            site different.
        </p>

        <p class="main">
            Pinax has been used for everything from social networks to
            corporate websites and from intranets to online games.
        </p>
    </div>
</div>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="box">
            <p>@@@ features (multi-column list)</p>
        </div>
    </div>

    <div class="row">
        <div class="box left2 columns">
            <h2>Announcements</h2>
            <hr />

            {% latest_section_post "announcements" as post %}
            {% include "biblion/_minipost2.html" %}

            <p><a href="{% url blog_section "announcements" %}" class="more">more announcements &rarr;</a></p>
        </div>

        <div class="box center2 columns">
            <h2>Featured Post</h2>
            <hr />

            {% featured_post as post %}
            {% if post %}
                {% include "biblion/_minipost.html" %}
                <p><a href="{% url blog_section "announcements" %}" class="more">read this post &rarr;</a></p>
            {% else %}
                <p>No featured post.</p>
            {% endif %}
        </div>

        <div class="box right2 columns">
            <h2>Download</h2>
            <hr />

            {% latest_stable_release as release %}
            {% if release %}
                <p class="main">
                    <a href="{% url downloads_home %}" id="btn-release">
                        Latest stable release: {{ release.version }}
                    </a>
                </p>
            {% else %}
                <p class="main">
                    There are currently no stable releases.
                </p>
            {% endif %}

            <p><a href="{% url downloads_home %}" class="more">more downloads &rarr;</a></p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="row">
        <div class="box left3 pinax-blog">
            <h2>The Pinax Blog</h2>
            <hr />

            {% latest_blog_posts as posts %}
            {% for post in posts %}
                {% include "biblion/_minipost.html" %}
            {% empty %}
                <p>No blog posts.</p>
            {% endfor %}

            <p><a href="{% url blog %}" class="more">more blog posts &rarr;</a></p>
        </div>

        <div class="box right3 dev-info">
            <h2>Developer Information</h2>
            <hr />

            <p>
                Pinax is available under an MIT license. The source code is
                available from <a href="http://github.com/pinax/pinax">GitHub</a>.
            </p>

            <p>
                Tickets and Wiki are at
                <a href="http://code.pinaxproject.com">code.pinaxproject.com</a>
            </p>

            <p>
                Most discussion about Pinax takes place on the IRC channel
                <a href="irc://irc.freenode.net/pinax">#pinax</a>
                on Freenode or the
                <a href="http://groups.google.com/group/pinax-users">pinax-users</a>
                mailing list on Google Groups.
            </p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="row">
        <div class="box left2 columns2">
            <h2>Sites Built with Pinax</h2>
            <hr />

            {% featured_site as site %}
            <div class="featured-site-box">
                <a href="{{ site.url }}">
                    <img src="{{ MEDIA_URL }}{{ site.image }}" alt="{{ site.name }}" width="100px" class="left-border" />
                </a>
                <div><b>{{ site.name }}</b><br />
                <a href="{{ site.url }}">{{ site.url }}</a></div>
            </div>
            <div class="clear"></div>
            {% random_sites 6 as sites %}
            {% if sites %}
            <ul class="sites">
                {% for site in sites %}
                    <li><a href="{{ site.url }}">{{ site.name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}

            <p><a href="{% url sites_home %}" class="more">more sites built on Pinax &rarr;</a></p>
        </div>

        <div class="box center2 columns2">
            <h2>Quotes about Pinax</h2>
            <hr />

            {% featured_quote as quote %}
            {% if quote %}
            <div class="quote">
                <span class="marks">&ldquo;</span>{{ quote.text }}<span class="marks">&rdquo;</span>
                <br />
                <span class="attribution">&mdash; {{ quote.author }}<span>
            </div>
            {% else %}
                <p>No featured quote.</p>
            {% endif %}

            <p><a href="{% url quotes_home %}" class="more">more quotes about Pinax &rarr;</a></p>
        </div>

        <div class="box right2 columns2">
            <h2>Events</h2>
            <hr />

            <p>@@@ featured event / rotating events</p>

            <p><a href="{% url events_home %}" class="more">more events &rarr;</a></p>
        </div>

        <div class="clear"></div>
    </div>
{% endblock %}

{% block extra_body %}
<script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.equalheights.js"></script>
<script type="text/javascript">
    $(function() {
        $(".columns").equalHeights();
        $(".columns2").equalHeights();
    });
</script>
{% endblock %}
