{% extends "site_base.html" %}

{% load webdesign %}

{% block body_id %}homepage{% endblock %}

{% block main_content %}
    
    {# @@@ elevator pitch #}
    {# @@@ feature bullets #}
    {# @@@ programming language #}
    {# @@@ license #}
    
    {# @@@ latest stable download #}
    
    {# @@@ development information (tickets, git repo) #}
    {# @@@ sites (possibly a featured site or rotating + link to page) #}
    {# @@@ quotes (possibly a featured quote or rotating + link to page) #}
    {# @@@ blog (recent entries) #}
    {# @@@ most recent announcement blog entry #}
    {# @@@ featured blog entry #}
    {# @@@ featured event (+ link to events page) #}
    
{% endblock %}
