{% extends "site_base.html" %}

{% load webdesign %}

{% block body_id %}homepage{% endblock %}

{% block main_content %}
    
    <div>
        <p>
            Pinax is an open-source platform built on the
            <a href="http://djangoproject.com">Django Web Framework</a>.
        </p>
        
        <p>
            By integrating numerous reusable Django apps and providing starter
            projects and infrastructure tools, Pinax cares of the things that
            many sites have in common, letting you focus on what makes your
            site different.
        </p>
    </div>
    
    <div>
        @@@ latest stable download
    </div>
    
    <div>
        @@@ development information
        
        (tickets, git repo)
    </div>
    
    <div>
        @@@ sites
        
        featured site / rotating sites
        
        <a href="/sites.html">more sites built on Pinax</a>
    </div>
    
    <div>
        @@@ quotes
        
        featured quote / rotating quotes
        
        <a href="/quotes.html">more quotes about Pinax</a>
    </div>
    
    <div>
        @@@ blog
        
        recent entries
        
        <a href="/biblion/blog_list.html">more blog posts</a>
    </div>
    
    <div>
        @@@ most recent announcement blog entry
    </div>
    
    <div>
        @@@ featured blog entry
    </div>
    
    <div>
        @@@ events
        
        featured event / rotating events
        
        <a href="/events.html">more events</a>
    </div>
{% endblock %}
