{% extends "less_base.html" %}

{% load i18n %}

{% block head_title_base %}Pinax : {% block head_title %}{% endblock %}{% endblock %}</title>

{% block extra_head_base %}
    <link rel="alternate" type="application/atom+xml" title="Pinax Blog" href="{% url blog_feed_combined %}" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css" type="text/css" media="screen" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block nav %}
    <a href="https://twitter.com/pinaxproject" class="twitter-follow-button" data-show-count="false">Follow @pinaxproject</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    {% include "_nav.html" %}
{% endblock %}

{% block account_bar %}{% endblock %}
        
{% block footer %}
    <p>
        This site was built using Pinax and is hosted on <a href="https://gondor.io/">Gondor</a>.
    </p>
    <p class="legal">
        &copy; 2008&ndash;2012 James Tauber and contributors.
        Pinax is a trademark of James Tauber.
        Django is a registered trademark of the Django Software Foundation.
    </p>
{% endblock %}
