<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block head_title_base %}Pinax : {% block head_title %}{% endblock %}{% endblock %}</title>
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" />
        {# <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" /> #}
        {# @@@ atom feeds #}
    </head>
    
    <body id="{% block body_id %}default{% endblock %}">
        
        {% include "_nav.html" %}
        
        <div id="header">
            <h1><a href="/"><img src="{{ STATIC_URL }}img/pinax_logo.png" alt="Pinax" /></a></h1>
            <h2>a platform for rapidly developing websites</h2>
        </div>
        
        <div id="main_content">
            {% block main_content %}{% endblock %}
        </div>
        
        <div id="footer">
            <p>This site was built using Pinax and is hosted by <a href="http://eldarion.com/">Eldarion</a>.</p>
            <p class="legal">
                &copy; 2008&ndash;2010 James Tauber and contributors.
                Pinax is a trademark of James Tauber.
                Django is a registered trademark of the Django Software Foundation.
            </p>
        </div>
        
        {# @@@ google analytics #}
        {% block extra_body %}{% endblock %}
    </body>
</html>