{% extends "biblion/blog_base.html" %}

{% load webdesign %}

{% block head_title %}Blog{% endblock %}

{% block blog_content %}

    <div class="main">

        {% if posts %}
            {% for post in posts %}
                <div class="post-container">
                    {% include "biblion/_minipost.html" %}
                </div>
            {% endfor %}
        {% else %}
            <p>No blog posts have been published.</p>
        {% endif %}

    </div>

    <aside class="sidebar">
        <div class="blog-sections">
            <h4>Categories</h4>
            <hr />
            <ul>
                <li><a href="#">Announcements</a></li>
                <li><a href="#">Articles</a></li>
                <li><a href="#">Community</a></li>
            </ul>
        </div>

    </aside>

{% endblock %}
