#header {
    text-align: center;
    height: 180px;
    margin: 0 auto;
    padding: 20px 0 0;
}
#main_content {
    width: 960px;
    margin: 40px auto;
}
#footer {
    text-align: center;
}
.clear {
    clear: both;
}

.box {
    margin: 20px 0;
    padding: 5px 10px;
}

ul.nav {
    margin: 0 auto;
    width: 900px;
    list-style: none;
}
ul.nav li {
    float: left;
}
ul.nav li a {
    display: block;
    height: 20px;
    padding: 30px 20px 5px 10px;
}

.left2 {
    float: left;
    width: 290px;
    margin-right: 5px;
}
.left3 {
    float: left;
    width: 450px;
    margin-right: 5px;
}
.left4 {
    float: left;
    width: 600px;
    margin-right: 5px;
}
.right2 {
    float: left;
    width: 290px;
    margin-left: 5px;
}
.right3 {
    float: left;
    width: 450px;
    margin-left: 5px;
}
.right4 {
    float: left;
    width: 600px;
    margin-left: 5px;
}
.center2 {
    float: left;
    width: 290px;
    margin-left: 5px;
    margin-right: 5px;
}