/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
	font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

@font-face {
	font-family: FontinSansBold;
	src: url(../fonts/Fontin_Sans_B_45b.otf); font-weight:bold;
}
@font-face {
	font-family: FontinSans;
	src: url(../fonts/Fontin_Sans_R_45b.otf);
}

a:focus {
	outline: 1px dotted;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
	font-size: 18px;
	border-bottom: 1px solid #6e6666;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
	margin: 0;
}

h4 {
	font-size: 14px;
	margin: 0;
}

h5 {
	font-size: 17px;
}

h6 {
	font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

li {
	margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
ol,
ul,
pre,
table,
address,
fieldset {
	margin-bottom: 20px;
}

p { line-height: 21px; }