{% extends "site_base.html" %}

{% load downloads_tags %}

{% block head_title %}Downloads{% endblock %}
{% block body_id %}downloads{% endblock %}

{% block main_content %}
    <h2>Downloads</h2>
    <hr />
    <div class="col-wrapper">
        <div style="display:none"><a href="http://dist.pinaxproject.com/dev/Pinax/Pinax-0.9a1.tar.gz#egg=Pinax-0.9a1">0.9a1</a></div>
        <div style="display:none"><a href="http://dist.pinaxproject.com/fresh-start/Pinax/Pinax-0.9a2.dev1004.tar.gz#egg=Pinax-dev">dev</a></div>
        <section class="col1">
            <p>
                Pinax is open source software under an MIT license. It requires
                Python 2.4 or higher.
            </p>
            
            <h3>Option 1. Get the latest stable release</h3>
            
            {% latest_stable_release as release %}
            {% if release %}
                <div class="featured-release">
                    {% include "downloads/_release.html" %}
                </div>
            {% else %}
                <p>There is currently no stable release.</p>
            {% endif %}
            
            <h3>Option 2. Get the latest development release</h3>
            
            <div>
                <p>The latest development release is <strong>0.9a1</strong>.&nbsp;To install the development version:</p>
                
                <pre>pip install Pinax</pre>
                
                <p>See <a href="/docs/dev/gettingstarted/">Getting Started</a> for more documentation about the development release.</p>
            </div>
            
            {% comment %}
            {% latest_development_release as release %}
            {% if release %}
                <div class="featured-release">
                    {% include "downloads/_release.html" %}
                </div>
            {% else %}
                <p>There is currently no recent development release.</p>
            {% endif %}
            {% endcomment %}
            
            <h3>Older Releases</h3>
            
            {% older_releases as releases %}
            <div class="older-releases">
                {% for release in releases %}
                    {% include "downloads/_release.html" %}
                {% empty %}
                    <p>There are currently no earlier releases.</p>
                {% endfor %}
            </div>
            
        </section>
        <aside class="col2">
            <p>For more information about installing the stable release, see our <a href="/docs/0.7/install.html">installation</a> documentation.</p>
            
            <p>
                If you need any help, don't hesitate to ask on the IRC channel
                <a href="irc://irc.freenode.net/pinax">#pinax</a>
                on Freenode or the
                <a href="http://groups.google.com/group/pinax-users">pinax-users</a>
                mailing list on Google Groups.
            </p>
            
            <p>The source code repository can be found on <a href="http://github.com/pinax/pinax">GitHub</a>.</p>
        </aside>
    </div>
    <div class="clear"></div>
{% endblock %}
