{% extends "site_base.html" %}

{% load webdesign %}

{% block head_title %}Downloads{% endblock %}
{% block body_id %}downloads{% endblock %}

{% block main_content %}
    
    <h2>Downloads</h2>
    
    <p>
        Pinax is open source software under an MIT license. It requires
        Python 2.4 or higher.
    </p>
    
    {# link to installation docs? #}
    
    <p>
        If you need any help, don't hesitate to ask on the IRC channel
        <a href="irc://irc.freenode.net/pinax">#pinax</a>
        on Freenode or the
        <a href="http://groups.google.com/group/pinax-users">pinax-users</a>
        mailing list on Google Groups.
    </p>
{% endblock %}
